@page "{id}"
@model DSR_Practice.Pages.Employees.DetailsModel
@{
    ViewData["Title"] = "Details of Employees";
    var photoPath = $"{Model.Employee.PhotoPath ?? "/images/noimage.png"}";
}
@if (TempData["SuccessMessage"] != null) {
    <div class="alert alert-success text-center">
        @TempData["SuccessMessage"]
    </div>
}

<div class="row justify-content-center m-3">
	<div class="col-12 col-sm-6 col-lg-4">
        @await Component.InvokeAsync("HeadCount", new { department = Model.Employee.Department })
        @*<vc:head-count department="@Model.Employee.Department"></vc:head-count>*@
	</div>
</div>


<h1>Details</h1>
<div class="row justify-content-center m-3">
    <div class="col col-lg-8">
        <div class="card cardBoxShadow">
            <div class="card-header cardHeaderStyle">
                <h1>@Model.Employee.Name</h1>
            </div>
            <div class="card-body cardBodyStyle text-center">
                <div class="row">
                    <div class="col col-lg-9">
                        <h4 class="cardTextLeftFloating">Employee ID: @Model.Employee.Id</h4><hr />
                        <h4 class="cardTextLeftFloating">Почтовый адрес: @Model.Employee.Email</h4><hr />
                        <h4 class="cardTextLeftFloating">Отдел: <span class="text-danger">@Model.Employee.Department</span></h4><hr />
                    </div>
                    <div class="col col-lg-3">
                        <div style="border-right: 1px solid rgba(0, 0, 0, .1);">
                            <img class="card-img-top imageThumbnail border border-primary" style="background-color: #FF1493;" src="@photoPath" asp-append-version="true" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
