@page
@model DSR_Practice.Pages.Employees.EmployeesModel
@{
	ViewData["Title"] = "Employees";
	ViewData["ShowButtons"] = true;
}

<h1>Employees</h1>
<h3>@Model.Employees.Count()</h3>

<div class="row">
	@foreach(var i in Model.Employees) {

		<div class="col-12 col-sm-6 col-lg-4">
			<partial name="_DisplayEmployeePartial" model="i" view-data="ViewData" />
		</div>

		@*var photoPath = $"{i.PhotoPath ?? "/images/noimage.png"}";
		<div class="col-12 col-sm-6, col-lg-4">
			<div class="card-deck">
				<div class="card m-3 cardBoxShadow">
					<div class="card-header text-center cardHeaderStyle">
						<h3>@i.Name</h3>
					</div>
					<div class="text-center cardBodyStyle">
						<img class="card-img-top imageThumbnail" src = "@photoPath" asp-append-version = "true"/>
					</div>

					<div class="card-footer text-center">
						<a asp-page="/Employees/Details" asp-route-Id="@i.Id" class="btn btn-success m-1 buttonShadow">View</a>
						<a asp-page="/Employees/Editor" asp-route-Id="@i.Id" class="btn btn-primary m-1 buttonShadow">Edit</a>
						<a asp-page="/Employees/Delete" asp-route-Id="@i.Id" class="btn btn-danger m-1 buttonShadow">Delete</a>
					</div>
				</div>
			</div>
		</div>*@
	}
</div>

<table class="table">

		<thead>
			<tr>
				<th>Имя</th>
				<th>E-mail</th>
				<th>Департамент</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var i in Model.Employees)
			{
				<tr>
					<td>@i.Name</td>
					<td>@i.Email</td>
					<td>@i.Department</td>
				</tr>
			}
		</tbody>

</table>


<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		$('.table tr').hover(function () {
			$(this).addClass('hover');
		}, function () {
			$(this).removeClass('hover');
		});

		$('.table tr').click(function () {
			$('.table tr').removeClass('active');
			$(this).addClass('active');
		});
	});
</script>
