@model DSR_Practice_Debts.Models.Debt
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Details";
}

<h1>Сумма займа: @Model.Summ</h1>
<h1>Дата займа: @Model.Date</h1>
<h1>Дата возврата заёмных средств: @Model.DateOfEnd</h1>
@if (Model.Status == "Просрочен") { <h1 class="alert-danger">Статус займа: @Model.Status</h1> }
else
{
     <h1>Статус займа: @Model.Status</h1>
}

@*<form asp-action="PayDebt">
    <div class="form-group_btn_2">
        <input value="Погасить займ" class="btn btn-success" />
    </div>
</form>*@

@*<form asp-action="DebtDetails">
    <input type="hidden" asp-for="IdDebt" />
    <input type="hidden" asp-for="Summ" />
    <input type="hidden" asp-for="Date" />
    <input type="hidden" asp-for="DateOfEnd" />
    <input type="hidden" asp-for="Status" />
    <input type="hidden" asp-for="userId" />
    <button type="submit" class="btn-danger">Yes</button>
</form>*@

<a asp-action="PayDebt" asp-route-id="@Model.IdDebt">Погасить займ</a>