@model DSR_Practice_Debts.Models.Debt
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "_LayoutUser";
}

<h1>Сумма займа: @Model.Summ</h1>
<h1>Дата займа: @Model.Date</h1>
<h1>Дата возврата заёмных средств: @Model.DateOfEnd</h1>
@if (Model.Status == "Просрочен")
{
     <h1 class="alert-danger">Статус займа: @Model.Status</h1>
}
else
{
    <h1>Статус займа: @Model.Status</h1>
}


<form asp-action="PayDebt">
    <div class="form-group_btn_2">
        <input type="hidden" asp-for="IdDebt" />
        <input type="hidden" asp-for="Summ" />
        <input type="hidden" asp-for="Date" />
        <input type="hidden" asp-for="DateOfEnd" />
        <input type="hidden" asp-for="Status" />
        <input type="hidden" asp-for="userId" />
        <button type="submit" class="btn m-2 btn-success">Погасить</button>
    </div>
</form>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.su/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="p-3 m-0 border-0 bd-example bg-light">

    <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#ffd500"></rect></svg>

            <strong class="me-auto text-warning">Вы действительно хотите отложить займ?</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
        </div>
    </div>
</body>
</html>
<form asp-action="DelayDebt">
    <div class="form-group_btn_2">
        <input type="hidden" asp-for="IdDebt" />
        <input type="hidden" asp-for="Summ" />
        <input type="hidden" asp-for="Date" />
        <input type="hidden" asp-for="Status" />
        <input type="hidden" asp-for="userId" />
        <label asp-for="DateOfEnd" class="control-label">Новая дата закрытия</label>
        <input class="form-control" asp-for="DateOfEnd" asp-format="{0:yyyy-MM-ddTHH:mm}" />
        <span asp-validation-for="DateOfEnd" class="text-danger"></span>
        <button type="submit" class="btn m-2 btn-warning">Отложить займ</button>
    </div>
</form>

<form asp-action="ForgiveDebtAcception">
    <div class="form-group_btn_2">
        <input type="hidden" asp-for="IdDebt" />
        <input type="hidden" asp-for="Summ" />
        <input type="hidden" asp-for="Date" />
        <input type="hidden" asp-for="DateOfEnd" />
        <input type="hidden" asp-for="Status" />
        <input type="hidden" asp-for="userId" />
        <button type="submit" class="btn m-2 btn-warning">Простить займ</button>
    </div>
</form>