@model DSR_Practice_Debts.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Users";
}
@{
    Layout = "_LayoutUser";
}

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/details.css")" rel="stylesheet" type="text/css" />
</head>


<div class="row justify-content-center m-3">
    <div class="col col-lg-8">
        <h1>Подробности</h1>
        <div class="card cardBoxShadow">
            <div class="card-header cardHeaderStyle">
                <h1>@Model.Email</h1>
            </div>
            <div class="card-body cardBodyStyle text-center">
                <div class="row">
                    <div class="col col-lg-9">
                        <h4 class="cardTextLeftFloating">Ваш идентификационный номер: @Model.Id</h4><hr />
                        <h4 class="cardTextLeftFloating">Ваш пароль: <span class="text-danger">@Model.Password</span></h4><hr />
                    </div>
                    <div class="col col-lg-3">
                        <div style="border-right: 0px solid rgba(0, 0, 0, .1);">
                            <img class="card-img-top imageThumbnail" src="/images/noimage.png" asp-append-version="true" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('body').on('click', '.password-control', function () {
        if ($('#password-input').attr('type') == 'password') {
            $(this).html('Скрыть пароль');
            $('#password-input').attr('type', 'text');
        } else {
            $(this).html('Показать пароль');
            $('#password-input').attr('type', 'password');
        }
        return false;
    });
</script>

@*
@foreach (var item in Model) {
   
    <h1>@item.Email ___ @item.Password</h1>
    <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
}
*@
